/* HomePage.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #0A0A0A; /* Dark black background */
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #ffffff;
}

/* Header Styling */
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: #1C1C1C; /* Slightly lighter dark background for header */
}

.navbar {
  display: flex;
  justify-content: space-between; /* Space between links and button */
  align-items: center; /* Center items vertically */
  width: 100%;
  margin-bottom: 20px;
}

.navbar a {
  color: #61dafb; /* Bright blue for navbar links */
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px; /* Space between links */
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #21a1f1; /* Slightly darker blue on hover */
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.wallet-address {
  color: #ffffff;
}

.network-switcher select {
  background-color: #333; /* Darker select background */
  color: #ffffff;
  border: 1px solid #666;
  padding: 5px;
  border-radius: 5px;
}

.connect-wallet-button {
  background-color: #FF9900;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.connect-wallet-button:hover {
  background-color: #E68A00; /* Slightly darker on hover */
}

/* Future IDOs Section Styling */
.future-idos {
  margin-top: 30px;
  padding: 20px; /* Adjust padding if needed */
  text-align: center;
}

.future-idos h2 {
  font-size: 2.5em;
  color: #FFD700; /* Gold color for epic feel */
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px #000000;
}

.future-idos p {
  font-size: 1.2em;
  color: #aaaaaa;
  font-style: italic;
}

.disclaimer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  color: #ff3333; /* Bright red for strong emphasis */
  background-color: #1A1A1A; /* Dark background to match the theme */
}
